@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html {
  scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li,
th,
td {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #4c5b7f;
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "palt";
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

body {
  background-color: #ececec;
}

/* ヘッダー */

.header_wrap {
  background-color: #a0c0df;
  background: rgba(160, 192, 223, 0.6);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  padding: 35px 0 25px 0;
  width: 100%;
}

.pc_nav ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #f3faff;
  font-weight: 300;
  font-size: 17px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  text-align: center;
  list-style: none;
  display: inline;
}

.sp_nav,
.sp_btn {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4c5b7f;
  color: #f7f7f7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  font-family: "stix-two-text", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  text-decoration: none;
}

.copy {
  text-align: center;
  font-size: 13px;
  padding-bottom: 50px;
}

.sp_nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sp_nav ul li {
  padding: 20px 0;
  color: #fff;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.back {
  display: flex;
  justify-content: center;
  left: 50%;
  bottom: 10%;
  margin: 100px 0;
}

@media screen and (max-width: 767px) {
  .btn {
    width: 60px;
    height: 60px;
    font-size: 13px;
  }
}
